* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://a.l3n.co/i/K4mwb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

 /* Nav bar style */
nav > div.list > a {
    color: white;
    text-decoration: none;
}

/* Website link's style */
nav > a {
    color: white;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 20px;
}

nav {
    display: flex;
}

.list {
    position: absolute;
    right: 75px;
    top: 35px;
}

.list > a {
    margin-left: 50px;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
}

.list > a:hover {
    border-bottom: 2px solid white;
}

/* Dropdown styles */

.dropDown {
    display: inline-block;
}

div.dropDown a {
    color: white;
    text-decoration: none;
}

.ddlist {
    display: none;
    flex-direction: column;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.174);
    position: absolute;
    transition: flex 0.5s ease;
}

.ddlist > a {
    display: block;
    padding: 24px 0px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.ddlist > a:hover {
    color: lightblue;
}

.dropDown > a {
    margin-left: 50px;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
}

.dropDown:hover > a {
    border-bottom: 2px solid white;
}

.dropDown:hover > .ddlist {
    display: flex;
}
